.container {
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 30px;
  display: inline-block;
}

.warning {
  color: #eaaa00;
  background: color-mix(in oklab, #f99700 20%, transparent);
}

.error {
  color: #ff6467;
  background: color-mix(in oklab, #fb2c36 20%, transparent);
}

.small {
  padding: 1px 6px;
  font-size: 10px;
}
