.container {
  background: #282d35;
  border: 1px solid #404040;
  border-radius: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  z-index: 2147483645;

  position: fixed;
  left: 15px;
  bottom: 15px;

  padding: 8px 12px;

  display: flex;
  flex-direction: row;
  gap: 10px;

  color: white;
}

.runtimeStatus {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.statuses {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.compiler {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.separator {
  background: #3d3d3d;
  height: 14px;
  width: 1px;
}
