# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.JS CI

on:
  push:
    branches: [ master ]
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches: [ master ]

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [20.x, 22.x, 24.x]
        include:
        - os: macos-latest
          node-version: 24.x

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - run: yarn install
    - run: yarn ci:lint
    #- run: yarn audit
    - run: yarn build
    - run: yarn ci:test
